extends partials/templates/_template.pug

block content
  +b.SECTION.page--news
    .container-fluid
      .row
        .col-xs-12.col-lg-2    
          // Left sidebar
          include partials/components/_left-sidebar.pug 
          
        .col-xs-12.col-lg-8
          // Content
          +b.SECTION.content
            +e.H1.title Новости (должно быть 20 последних новостей на этой странице!!!)
            // News
            +e.news
              +b.ARTICLE.news(itemscope, itemtype="http://schema.org/Article")
                +e.H2.heading
                  a(href="single-news.html", itemprop="headline") Сертификация цемента стала обязательной
                +e.date(itemprop="datePublished") 18.08.2016
                +e.excerpt(itemprop="articleSection") Начиная с 7 марта на территории России стала обязательной сертификация цемента – это регламентируется Письмом Минпромторга, которое было опубликовано 20 февраля 2016 года, а также ПП РФ №930 от 3 сентября 2015 года. Согласно указанному Постановлению с 7 марта обязательной оценке качества стали подлежать такие виды цемента как ... 
                +e.A.more-link(href="single-news.html") Подробнее
              +b.ARTICLE.news  
                +e.H2.heading
                  a(href="single-news.html", itemprop="headline") Россия ограничила поставки белорусской продукции на российский рынок
                +e.date(itemprop="datePublished") 18.08.2016
                +e.excerpt(itemprop="articleSection") К комиссии ЕАЭК 10 февраля поступило обращение от службы по фитосанитарному и ветеринарному контролю о временных ограничениях на ввоз на территорию России товаров, которые были произведены ОАО «Слуцкий сыродельный комбинат», его любанскими и копыльскими филиалами в республике Беларусь, в связи с многочисленными ... 
                +e.A.more-link(href="single-news.html") Подробнее                
              +b.ARTICLE.news
                +e.H2.heading
                  a(href="single-news.html", itemprop="headline") 1 января введено эмбарго на ряд турецких товаров
                +e.date(itemprop="datePublished") 18.08.2016
                +e.excerpt(itemprop="articleSection") В.Путин подписал указ №583 от 28 ноября 2015г. согласно которому начиная с 1 января 2016 года введены специальные меры экономического зарактера в отношении Турецкой республики. В указе утверждается список продукции, материалов и сырья запрещённых к импорту в РФ. В список вошли такая пищевая продукция как томаты, капуста, огурцы, ... 
                +e.A.more-link(href="single-news.html") Подробне
              +b.SECTION.pagination
                span Страницы:
                +e.A.number--current(href="page-news.html") 1
                +e.A.number(href="page-news.html") 2
                +e.A.number(href="page-news.html") 3

        .col-xs-12.col-lg-2
          // Right sidebar
          include partials/components/_right-sidebar.pug 


