extends partials/templates/_template--index.pug

block content
  +b.SECTION.page--front-page
    .container-fluid
      .row
        .hidden-xs.visible-lg.col-lg-2    
          // Left sidebar
          include partials/components/_left-sidebar.pug 
          
        .col-xs-12.col-lg-8
          // Content
          +b.SECTION.content(itemscope, itemtype="http://schema.org/Article")
            +e.H1.title(itemprop="headline") Общероссийский портал о сертификации продукции и услуг (h1)
            +e.text(itemprop="articleBody")
              p Услуги по сертификации продукции и услуг оказываются специализированными 
                a(href="page.html") органами по сертификации
                | . 
              p Для того, чтобы получить право на сертификацию тех или иных видов продукции, орган по сертификации должен пройти обязательную аккредитацию в Росстандарте.
              p РосСтандарт и его территориальные представительства, органы по сертификации, выдают сертификаты соответствия на основании заявки, предоставленных документов на сертификацию, образцов продукции (если испытания образцов предусмотрены схемой сертификации).
              p Наряду с системой сертификации ГОСТ Р, подтверждение соответствия продукции проводится в системе сертификации пожарной безопасности, гигиенической сертификации (санитарно-эпидемиологическая экспертиза) и другие.
              p Центральным органом по оформлению свидетельств о государственной регистрации (гигиенических сертификатов) является Роспотребнадзор (Федеральная служба по надзору в сфере защиты прав потребителей и благополучия человека). В испытательных лабораториях проводятся испытания продукции, которые подтверждают, что продукция отвечает Единым санитарным требованиям и нормам, гигиеническим нормам (ГН) и санитарным правилам и нормам (СанПиН).
              p Сертификат пожарной безопасности выдается органами по пожарной безопасности, аккредитованными МЧС. Пожарный сертификат выдается на продукцию, которая может привести к возгоранию или быть опасной при пожаре. 
                a(href="page.html") Пожарный сертификат 
                | оформляется и на все средства пожаротушения.

          // Form call wide
          include partials/components/_form--call.pug 
          // Schema
          include partials/components/_schema.pug 
          // Certification documents
          include partials/components/_certification-docs.pug 
          // Questions section
          include partials/components/_questions-section.pug 

        .hidden-xs.visible-lg.col-lg-2
          // Right sidebar
          include partials/components/_right-sidebar.pug 


