extends partials/templates/_template.pug

block content
  +b.SECTION.page--certification-type
    .container-fluid
      .row
        .hidden-xs.visible-lg.col-lg-2     
          // Left sidebar
          include partials/components/_left-sidebar.pug 
          
        .col-xs-12.col-lg-8
          // Content
          +b.SECTION.content(itemscope, itemtype="http://schema.org/Article")
            +e.H1.title(itemprop="headline") Сертификация продукции, товаров и услуг
            +e.text(itemprop="articleBody")              
              p В этом разделе представлены многие виды товаров и услуг, на которые Вы можете оформить сертификат в любом из 
                a(href="page-contacts.html") Центров сертификации
                | .

          // Certification type
          include partials/components/_certification-type.pug 

          // Form call wide
          include partials/components/_form--call.pug 
          // Schema
          include partials/components/_schema.pug 
          // Certification documents
          include partials/components/_certification-docs.pug 
          // Questions section
          include partials/components/_questions-section.pug 

        .hidden-xs.visible-lg.col-lg-2 
          // Right sidebar
          include partials/components/_right-sidebar.pug 


