extends partials/templates/_template.pug

block content
  +b.SECTION.page--questions
    .container-fluid
      .row
        .hidden-xs.visible-lg.col-lg-2   
          // Left sidebar
          include partials/components/_left-sidebar.pug 

        .col-xs-12.col-lg-8
          // Content
          +b.SECTION.content(itemscope, itemtype="http://schema.org/Article")
            +e.H1.title(itemprop="headline") Задать вопрос специалисту
            +e.text(itemprop="articleBody")
              p Здравствуйте!
              p На этой странице вы можете заказать обратный звонок с сайта. Наши специалисты перезвонят в ближайшее время.
              p Обратите внимание, что все поля в форме обязательны для заполнения.
              p Будем рады ответить на интересующие вас вопросы! Ждем ваших заявок!
          // Form call
          include partials/components/_form--call.pug 

        .hidden-xs.visible-lg.col-lg-2
          // Right sidebar
          include partials/components/_right-sidebar.pug 



