extends partials/templates/_template.pug

block content
  +b.SECTION.page
    .container-fluid
      .row
        .hidden-xs.visible-lg.col-lg-2     
          // Left sidebar
          include partials/components/_left-sidebar.pug 
          
        .col-xs-12.col-lg-8
          // Content
          +b.SECTION.content(itemscope, itemtype="http://schema.org/Article")
            +e.H1.title(itemprop="headline") Протокол испытаний
            +e.text(itemprop="articleBody")              
              p Протокол испытаний – это документ, на основании которого выдается разрешительная документация, который включает в себя данные о проведенных экспертизах и исследованиях. Выдаваться протокол испытаний может исключительно лабораторными центрами, которые аккредитованы уполномоченным органом – Федеральным агентством аккредитации.
              p Данный документ может выдаваться в ходе осуществления различных сертификационных процессов, в частности:
              ul
                li При проведении обязательной оценки качества путем сертифицирования/декларирования по требованиям ГОСТов;
                li При проведении обязательной оценке качества в рамках системы Техрегламентов ТС;
                li При удостоверении пожарной безопасности объекта/оборудования/материала;
                li При подтверждении гигиенической безопасности;
                li В ходе проведения проверки на промышленную безопасности;
                li При проверке на уровень радона в воздухе;
                li Для добровольной оценки качества продукта в любой из систем;
                li При проведении испытаний в области экологии;
                li Другое.
              p В любом из перечисленных процессов протокол испытаний занимает особое место – без его наличия компания не может получить сертификат. Протокол испытаний играет не менее важную роль, чем экспертное заключение, требуемое для получения декларационного/сертификационного документа.
              h2 Информация о получении
              p Чтобы получить протокол испытаний необходимо провести проверку подконтрольного продукта. Если рассматривать получение протокола испытаний как некую последовательность процедур, то можно представить ее следующим образом:
              p Определение, на соответствие какому нормативу будет осуществляться проверка (в случае, когда оценка качества обязательно – это определяется законодательно, а в случае добровольной проверки предприниматель самостоятельно выбирает, какой именно стандарт станет основой для осуществления экспертизы);
              p Анализ документации, на основе которой продукт производился, определение его свойств и характеристик, предварительная оценка специалистами                 
                a(href="page.html") ссылка на какую-нибудь страницу;
              p Отбор образцов подконтрольного изделия (осуществляется строго по установленному законодательно алгоритму): как правило, образцов отбирается несколько, если только проверке не подвергается единичный продукт;
              p Проведение лабораторных экспертиз, в ходе которых товар может оцениваться как по внешним показателям (цвет, размер, запах), так и по физико-химическим, биологическим, радиологическим и другим свойствам. Продукт могут проверять на прочность, на термостойкость, на взаимодействие с другими материалами/веществами;
              p Составление протокола испытаний, где фиксируются все полученные данные.
              p Именно на основе сведений, которые включаются в данный документ, и принимается решение о возможности выдачи разрешительного документа.
              h2 Заголовок текста h2
              h3 Заголовок текста h3
              h4 Заголовок текста h4
              h5 Заголовок текста h5
              h2 Маркированный список
              ul
                li уставные документы компании;
                li бухгалтерская отчетность за последние полгода;
                li сертификаты соответствия или другие документы, подтверждающие качество и безопасность предлагаемой продукции или услуг;
                li иногда требуется предоставить лицензии, выданные уполномоченными и специальными органами РФ, в зависимости от вида работ или услуг, которые компания планирует предоставлять;
                li опись вышеуказанных документов должна прилагаться к пакету.                  
              h2 Нумерованный список
              ol
                li уставные документы компании;
                li бухгалтерская отчетность за последние полгода;
                li сертификаты соответствия или другие документы, подтверждающие качество и безопасность предлагаемой продукции или услуг;
                li иногда требуется предоставить лицензии, выданные уполномоченными и специальными органами РФ, в зависимости от вида работ или услуг, которые компания планирует предоставлять;
                li опись вышеуказанных документов должна прилагаться к пакету.
              //- h2 Таблица
              //- table(style="width:100%")
              //-   thead
              //-     tr
              //-       th Пункт 1
              //-       th Пункт 2
              //-       th Пункт 3
              //-       th Пункт 4
              //-   tbody
              //-     tr
              //-       td Текст текст текст
              //-       td Текст текст текст
              //-       td Текст текст текст
              //-       td Текст текст текст
              //-     tr
              //-       td Текст текст текст
              //-       td Текст текст текст
              //-       td Текст текст текст
              //-       td Текст текст текст
              //-     tr
              //-       td Текст текст текст
              //-       td Текст текст текст
              //-       td Текст текст текст
              //-       td Текст текст текст
              blockquote Профессионалы помогут подготовить необходимый пакет документов, и на протяжении всей процедуры тендера будут контролировать соблюдение прав заявителя. Если у вас нет в наличии какого-либо разрешительного или подтверждающего документа, специалисты сертификационного центра Гортест Урал помогут в его оформлении оперативно и в полном соответствии с действующим российским законодательством. Если у вас нет в наличии какого-либо разрешительного или подтверждающего документа, специалисты сертификационного центра Гортест Урал помогут в его оформлении оперативно и в полном соответствии с действующим российским законодательством. Если у вас нет в наличии какого-либо разрешительного или подтверждающего документа, специалисты сертификационного центра Гортест.

          // Form call wide
          include partials/components/_form--call.pug 
          // Schema
          include partials/components/_schema.pug 
          // Certification documents
          include partials/components/_certification-docs.pug 
          // Questions section
          include partials/components/_questions-section.pug 

        .hidden-xs.visible-lg.col-lg-2 
          // Right sidebar
          include partials/components/_right-sidebar.pug 


