extends partials/templates/_template.pug

block content
  +b.SECTION.page--single-news
    .container-fluid
      .row
        .hidden-xs.visible-lg.col-lg-2     
          // Left sidebar
          include partials/components/_left-sidebar.pug 
          
        .col-xs-12.col-lg-8
          // Content
          +b.SECTION.content
            +b.ARTICLE.news(itemscope, itemtype="http://schema.org/Article")  
              +e.H1.title(itemprop="headline") Сертификация цемента стала обязательной
              +e.date(itemprop="datePublished") 18.08.2016
              +e.text(itemprop="articleBody")
                img(src="img/news1.png" alt="news1" title="news1")
                p Начиная с 7 марта на территории России стала обязательной сертификация цемента – это регламентируется Письмом Минпромторга, которое было опубликовано 20 февраля 2016 года, а также ПП РФ №930 от 3 сентября 2015 года. Согласно указанному Постановлению с 7 марта обязательной оценке качества стали подлежать такие виды цемента как суперсульфатный, шлаковый, портландцемент, гидравлический и некоторые другие виды данного стройматериала. Также с 1 февраля текущего года был введён в действие ГОСТ Р 56836-2016, который регулирует безопасность производства и оценки качества цемента.
                p Таким образом, начиная с 7 марта 2016 года все предприниматели, которые производят и реализуют цемент на территории нашего государства, обязаны проводить обязательную оценку его качества. Для получения сертификата на цемент им необходимо обратиться в аккредитованный центр, предоставив его специалистам всю необходимую информацию о материале (наименование, описание), контракты поставок, инвойс и многое другое. В процессе сертификации цемент (отобранные образцы) будут проходить проверку качества в лабораторных условиях.
                p Напомним, что до 7 марта только один вид цемента подлежал обязательной оценке соответствия, а именно – декларированию в системе ТР ТС. Это цемент, который применяется для строительства, реконструкции автодорог и их элементов (применяется с января 2015 года).
              +e.A.link(href="page-news.html") << Назад

        .hidden-xs.visible-lg.col-lg-2 
          // Right sidebar
          include partials/components/_right-sidebar.pug 

