.contacts-footer{
  @include mq($from:xs, $until:sm){
    margin-top: 40px;
  }
  &__title{
    color: $text-color-white;
    font-size: $font-size-title-24;
    margin: 0 0 40px;
    position: relative;
    @include mq($from:xs, $until:md){
      font-size: $font-size-subtitle
    } 
    &:after{
      content: '';
      position: absolute;
      bottom: -20px;
      left: 0;
      background-color: $red;
      height: 2px;
      width: 80px;
    }
  }
  &__list{
    color: $text-color-grey3;
    padding-left: 0;
    padding-right: 10px;
    margin: 0;
    list-style-type: none;
  }
  &__line{
    padding: 15px 0 15px;
    border-bottom: 1px solid $dark-grey;
    display: flex;  
    &:last-of-type{
      border-bottom: none;
    }      
  }
  &__item{
    &:first-of-type{
      flex: 0 0 40%;
    }
    &--city{
      color: $red;
    }
  }
  &__link{
    display: inline-block;
    &--mail{
      color: $red;
    }
    &--tel{
      display: block;
      color: $text-color-grey3;
    }
    &--vk{
      @include sprite($s-social-vk-grey);
    }
    &--fb{
      @include sprite($s-social-fb-grey);
    }
    &--in{
      @include sprite($s-social-in-grey);
    }
    &--instagram{
      @include sprite($s-social-instagram-grey);
    }
  }
}

