.content{
  text-align: left;
  margin: 0 5% 20px;
  @include mq($from:xs, $until:sm){
    margin: 0;
  } 

  &__title{
    padding: 40px 0 20px; 
    text-align: center;
    color: $text-green;
  }
  &__text{
    text-align: justify;
    @include mq($from:xs, $until:sm){
      text-align: left;
    }   
  }

  a{
    font-weight: bold;
  }
  h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
    color: $text-green;
    font-weight: normal;
  }
  h1, h2, h3{
    font-size: 1.5rem;
  }
  h4, h5, h6{
    font-size: 1.25rem;
  }

  blockquote{
    margin-left: 20px;
    padding-left: 20px;
    border-left: 5px solid $dark-green;
    font-style: italic;
  }   
}
