.form{
  text-align: center;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $text-green;
  margin: 20px 25%;
  @include mq($from:sm, $until:xl){
    margin: 20px 5%;
  }
  @include mq($from:xs, $until:sm){
    margin: 20px 0;
  }
  
  form{
    display: flex;
    flex-wrap: wrap;
  }
  &__title{
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0;
    padding: 0 15px 15px;
    font-weight: bold;
    font-size: $font-size-supertitle;
    text-transform: uppercase;
  }
  .form-group{
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px; 
  }
  &__input{
    background-color: $white;
    padding: 10px 15px;    
    width: 100%;
    border: 1px solid $form--bg;
    font-weight: bold;
    &::-webkit-input-placeholder{
      color: $text-green;
    }       
    &::placeholder{
      color: $text-green;
    }
    &:focus::-webkit-input-placeholder{
      color: transparent;         
    }       
    &:focus::placeholder{
      color: transparent;         
    } 
  }
  &__textarea{
    color: $text-green;
    background-color: $white;
    padding: 10px 15px;     
    width: 100%;
    border: 1px solid $form--bg;
    height: 150px;
    vertical-align: top;
    font-weight: bold;
    &::-webkit-input-placeholder{
      color: $text-green;
    }       
    &::placeholder{
      color: $text-green;
    }
    &:focus::-webkit-input-placeholder{
      color: transparent;         
    }       
    &:focus::placeholder{
      color: transparent;         
    } 
  }

  &--call{
    background-image: url(../img/formback.png);
    background-repeat: repeat;
    border: 1px solid $form--bg;
    .form-group:nth-of-type(1), 
    .form-group:nth-of-type(2) {
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 30px; 
      @include mq($from:xs, $until:sm){
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
      } 
    }
    .form__title{
      font-weight: normal;
    }
    .form__input{
      font-weight: normal;
      padding: 15px 20px; 
    }
    .form__textarea{
      font-weight: normal;
      padding: 15px 20px; 
    }
 
  }

  &--question, &--application{
    background-color: $light-green;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    // .form-group:nth-of-type(1), 
    // .form-group:nth-of-type(2) {
    //   flex: 0 0 50%;
    //   max-width: 50%;
    //   margin-bottom: 30px; 
    //   @include mq($from:xs, $until:sm){
    //     flex: 0 0 100%;
    //     max-width: 100%;
    //     margin-bottom: 15px;
    //   } 
    // }
    // @include mq($from:xs, $until:xl){
    //   margin-left: 0;
    //   margin-right: 0;
    // } 
  }

}


