.header{
  &__search{
    background-color: $dark-green;
    text-align: right;
    padding: 7px 0;
  }
  &__wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq($from:xs, $until:xl){
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  &__logo{
    @include mq($from:xs, $until:xl){
      padding: 20px 0;
    }
  }
  &__nav{
    @include mq($from:xs, $until:lg){
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

