.introduction{
  margin-bottom: 40px;

  &__title{
    background-color: $white;
    margin: 0;
    font-size: $font-size-title-24;
    padding-top: 35px;
    padding-bottom: 15px;
  }
}


.timeline{
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    color: $text-color-white;
    background-color: $dark-grey;
  }
  &__item{
    position: relative;
    &:hover, &:focus {
      cursor: pointer;
    }
    &--active{
      &:after{
        content: '';
        position: absolute;
        z-index: 1;
        bottom: -50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
        width: 30px;
        height: 30px;
        background-color: $red;
      } 
    }
  }
  &__date{
    padding: 5px 10px;
    position: relative;
    z-index: 2;
    background-color: $dark-grey;   
  }

  &__description-list{
    padding-left: 0;
    margin: 25px 0 0;
    list-style-type: none;
    background-color: $white;
  }
  &__description{
    display: none;
    border-left: 5px solid $red;
    padding-left: 20px;
    font-weight: $semibold;
    &--active{
      display: block;
    }
  }
}