.laws-section{
  margin: 50px 0;
  @include mq($from:xs, $until:md){
    margin: 20px 0;
  }
  &__title{
    font-size: $font-size-title;
    margin: 0 0 40px;
    position: relative;
    @include mq($from:xs, $until:lg){
      font-size: $font-size-title-24;
    }
    &:after{
      content: '';
      position: absolute;
      bottom: -20px;
      left: 0;
      background-color: $dark-grey;
      height: 2px;
      width: 80px;
    }
  }
  &__link{
    display: block;
    font-weight: $bold;
    margin-bottom: 20px;    
  }
}
