.nav-header{
  // text-align: center;
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    font-size: $font-size-menu;
    @include mq($from:xs, $until:lg){
      display: none;
      text-align: center;
    }
  }
  &__item{
    padding-left: 20px; 
    @include mq($from:xs, $until:lg){
      padding-left: 0;
    }

    &--mobile{
      display: none;
      position: relative;
      @include mq($from:xs, $until:lg){
        display: block;
      }
    }
  }
  &__link{
    display: inline-block;
    padding: 40px 0;
    text-transform: uppercase;
    font-weight: bold;
    @include mq($from:lg, $until:xl){
      padding: 20px 0;
    }
    @include mq($from:xs, $until:lg){
      color: $text-color;
      padding: 10px 0;
    }
    &:hover, &:focus {
      @include mq($from:xs, $until:lg){
        color: $dark-green;
        text-decoration: none;
      }
    }

    &--active{
      position: relative;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $menu--border-top;
      }
    }
    &--dropdown{
      &:after{
        content: '';
        width: 0;
        height: 0;
        border-top: 8px solid $menu--border-top;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        position: absolute;
        top: 15px;
        right: 10px;
      }
    }
    &--open{
      @include mq($from:xs, $until:lg){
        color: $dark-green;
      }
      &:after{
        top: 7px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid $menu--border-top;
      }
    }   
  }
  &__hamburger{
    display: none;
    text-align: center;
    margin-bottom: 10px;
    @include mq($from:md, $until:lg){
      position: absolute; 
      top: 20px;
      right: 20px;
    }
    @include mq($from:xs, $until:lg){
      display: block;
    }    
  }
}
.subnav{
  display: none;
  padding-left: 0;
  list-style-type: none;
  &__link{
    display: inline-block;
    color: $text-color;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
  }
}


.hamburger{
  display: inline-block;
  padding: 17px 6px;
  background-color: $menu--border-top;
  border-radius: 3px;
  span{
    display: block;
    width: 30px;
    margin: 0 auto;
    height: 4px;
    background-color: $white;

    &:after, &:before{
      content: "";
      display: block;
      width: 30px;
      height: 4px;
      background-color: $white;
    }
    &:before{
      transform: translateY(-10px);
    }    
    &:after{
      transform: translateY(6px);
    }    
  }
}

.nav-footer{
  margin-top: 60px;
  margin-bottom: 40px;
  @include mq($from:xs, $until:lg){
    margin-top: 20px;
  }

  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    font-size: $font-size-menu;
    border-bottom: 1px solid $footer-list--border; 
  }
  &__item{
    border-top: 1px solid $footer-list--border; 
  }
  &__link{
    color: $light-green;
    display: inline-block;
    padding: 5px 0;
    font-weight: bold;
    &:hover, &:focus {
      color: $text-color-white;
      text-decoration: none;
    }
  }
}