.offer{
  text-align: left;

  &__title{
    margin: 50px 0;
    font-size: $font-size-title-24;
  }
  &__item{
    display: flex;
    margin-bottom: 40px;
    @include mq($from:xs, $until:md){
      margin-bottom: 60px;
    }
    &:nth-of-type(1){
      .offer__icon:before{
        @include sprite($s-offer-card);
      }
    }
    &:nth-of-type(2){
      .offer__icon:before{
        @include sprite($s-offer-18);
      }
    }
    &:nth-of-type(3){
      .offer__icon:before{
        @include sprite($s-offer-package);
      }
    }
    &:nth-of-type(4){
      .offer__icon:before{
        @include sprite($s-offer-5);
      }
    }
    &:nth-of-type(5){
      .offer__icon:before{
        @include sprite($s-offer-doc);
      }
    }
    &:nth-of-type(6){
      .offer__icon:before{
        @include sprite($s-offer-percent);
      }
    }
  }
  &__icon{
    flex: 0 0 110px;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      @include mq($from:xs, $until:md){
        transform: scale(0.8);
        top: -10px;
      }
    }
  }
  &__text{
    font-size: $font-size-subtitle;
    @include mq($from:md, $until:xl){
      font-size: $font-size-promo;
    }
    @include mq($from:xs, $until:md){
      font-size: $font-size;
    }
  }
}
