.other-docs{
  text-align: center;
  background-color: $lighter-grey;

  &__title{
    font-size: $font-size-title;
    margin: 45px 0 35px;
    @include mq($from:xs, $until:md){
      font-size: $font-size-title-24;
    }
  }
  &__gallery{
    padding: 0 60px;
    margin-bottom: 55px;
  }
  &__slide{
    filter: grayscale(100%);
    &:hover, &:focus {
      filter: none;
    }
  }
}

