.reviews{

  &__gallery{
    margin: 30px 0;
    padding: 0 40px;
  }
  &__slide{
    border: 1px solid $light-grey;
    margin: 0 10px;
    width: 180px;
    height: auto;
  }
  &__img{
    display: block;
    width: 100%; 
    height: 250px;
    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
  &__modal{
    display: none;
    z-index: 9;
    opacity: 0;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid $grey;  
    img{
      width: auto;
      height: auto;
      max-height: calc(100vh - 40px);
      display: block;
    }
  }

  &__flamp{
    margin-top: 30px;
    margin-bottom: 30px;    
  }

  &__form{
    margin-top: 30px;
    margin-bottom: 30px;
    .form__close{
      display: none;
    }
    .form__title{
      text-align: left;
      margin: 0;
    } 
    .form{
      padding-top: 0;
      background-color: transparent;
      max-width: 500px;
    }  
    .form-group{
      margin: 0;
      padding-top: 10px;
    }
  }
  &__articles{
    margin-top: 30px;
  }
}
.review{
  margin: 30px 0;
  &__title{
    font-weight: bold;
  }
}