.specialists{
  text-align: center;
  background-color: $lightest-grey;

  &__title{
    font-size: $font-size-title;
    margin: 25px 0 45px;
    @include mq($from:xs, $until:md){
      font-size: $font-size-title-24;
    }
  }
  &__gallery{
    padding: 0 60px;
    @include mq($from:xs, $until:md){
      padding: 0 20px;
    }
  }
}
