mixin certificationTypeItem(title, img, alt, list)
  +e.item
    +e.img
      img(src= "img/categories/" + img alt= alt title= alt)
    +e.text
      +e.H3.name
        +e.A.link(href="#") #{title}
      +e.UL.sublist
        li
          a(href="page.html") БАД
        li
          a(href="page.html") Картофель          
        li
          a(href="page.html") Мёд
        li
          a(href="page.html") Мясная продукция
        li
          a(href="page.html") Овощи
        li
          a(href="page.html") Общественное питание
        li
          a(href="page.html") Кондитерские изделия
        li
          a(href="page.html") Сыр          
        li
          a(href="page.html") Мука
        li
          a(href="page.html") Рыба
        li
          a(href="page.html") Семена
        li
          a(href="page.html") Сахар                              
        li
          a(href="page.html") Хлеб
        li
          a(href="page.html") Масло
        li
          a(href="page.html") Фрукты          
        li
          a(href="page.html") Чай
        li
          a(href="page.html") Молочная продукция
        li
          a(href="page.html") Крупа
        li
          a(href="page.html") Сухие смеси





