mixin promoItem(title, link)
  +e.item
    +e.H3.title 
      +e.A.link(href= link) #{title}
    +e.btn
      +b.A.btn--promo(href="page-application.html") Заказать 
      //- +b.A.btn(href="#", data-form="application") Заказать      

