/*
  Project variables
  =================
*/


/*
  Flex Sass grid generator variables
  ==================================

  [flex-sass-grid-generator](https://github.com/Enkil/flex-sass-grid-generator)

*/

$base-font-size:              16px;
$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;

$screen-xs:                   0; // Extra small screen / phone
$screen-sm:                   480px; // Small screen / phone
$screen-md:                   760px; // Medium screen / tablet
$screen-lg:                   980px; // Large screen / desktop
$screen-xl:                   1270px; // Extra large screen / wide desktop
//$screen-xxl:                  1890px; // Super large screen / extra wide desktop

$container-max-widths: (
        sm:                   480px,
        md:                   760px,
        lg:                   980px,
        xl:                   1270px
) !default;


$grid-breakpoints: (
        xs:                   0,
        sm:                   540px,
        md:                   768px,
        lg:                   1024px,
        xl:                   1280px
) !default;

/*
  Sass MQ variables
  =================

  [sass-mq](https://github.com/sass-mq/sass-mq)
*/

$mq-breakpoints: (
        xs:                   0px,
        sm:                   540px,
        md:                   768px,
        lg:                   1024px,
        xl:                   1280px
) !default;



//------------------------------------------------------------------------------
//  Colors
//------------------------------------------------------------------------------


// Color table 

$white:                       #ffffff;
$black:                       #000000;
$grey-menu:                   #535353;

$darkest-green:               #012837;
$dark-green:                  #02686f;
$light-green:                 #bcf9fd;

$cyan:                        #00fdfd;

$menu--border-top:            #10B9B9;
$sidebar--border:             #a1d2d5;
$footer-list--border:         #006771;
$form--bg:                    #89d2d4;
$form--border-top:            #376d75;
$form--border-bottom:         #528e95;
$copyright--border:           #00a0a6;
$up-hover:                    #49a7a4;

$success:                     #5cb85c;
$error:                       #d9534f;


// Colors in use

$body-bg:                     $white;
$text-color:                  $black;
$text-green:                  $dark-green;

$link-color:                  $dark-green;

$text-color-white:            $white;
$link-color-white:            $text-color-white;




//------------------------------------------------------------------------------
//  Typography
//------------------------------------------------------------------------------

$font-family:                   Arial, Roboto, Helvetica, Arial, sans-serif;
// $font-family-muller:            Muller, Helvetica, Arial, sans-serif;
$font-family--serif:            Georgia, "Times New Roman", Times, serif;
//$font-family--monospace:      Menlo, Monaco, Consolas, "Courier New", monospace;


$font-size:                   16px;
$font-size-menu:              14px;
$font-size-small:             14px;
$font-size-smallest:          12px;

$font-size-btn:               18px;
$font-size-sidebar:           18px;
$font-size-city:              18px;
$font-size-sidebar-title:     20px;
$font-size-city:              20px;
$font-size-supertitle:        24px;
// $font-size-max:               36px;
// $font-size-supertitle:        32px;
// $font-size-title:             30px;
// $font-size-title-24:          24px;
// $font-size-title-22:          22px;
// $font-size-subtitle:          20px;

$line-height:                 1.43;




