include ../abstracts/bemto/bemto.pug
include ../abstracts/mixins/_certification-type-item.pug

+b.SECTION.certification-type
  +e.UL.list
    +certificationTypeItem("Сертификация пищевой продукции", "01.jpg", "alt1")
    +certificationTypeItem("Сертификация напитков", "02.jpg", "alt2")
    +certificationTypeItem("Сертификация автомобилей", "03.jpg", "alt3")
    +certificationTypeItem("Сертификация строительных материалов", "04.jpg", "alt4")
    +certificationTypeItem("Сертификация пищевой продукции", "01.jpg", "alt1")
    +certificationTypeItem("Сертификация напитков", "02.jpg", "alt2")
    +certificationTypeItem("Сертификация автомобилей", "03.jpg", "alt3")
    +certificationTypeItem("Сертификация строительных материалов", "04.jpg", "alt4")
    +certificationTypeItem("Сертификация пищевой продукции", "01.jpg", "alt1")
    +certificationTypeItem("Сертификация напитков", "02.jpg", "alt2")
    +certificationTypeItem("Сертификация автомобилей", "03.jpg", "alt3")
    +certificationTypeItem("Сертификация строительных материалов", "04.jpg", "alt4")