include ../abstracts/bemto/bemto.pug
include ../abstracts/mixins/_promo-item.pug

// Header
+b.HEADER.header

  // Search
  +e.search
    .container        
      +b.search--header
        +e.FORM.form
          +e.INPUT.input(type='text', name='Поиск', placeholder='Поиск')

  // Logo + nav
  +e.inner
    .container
      +e.wrapper
        +e.logo
          // Logo
          +b.A.logo(href="index.html", itemscope, itemtype="http://schema.org/Brand")       
            img(src="img/logo.png", alt="logo", title="logo", itemprop="logo")
        +e.nav
          // Nav menu header
          +b.NAV.nav-header
            +e.hamburger
              +b.A.hamburger(href="#")
                span
            +e.UL.list
              +e.item 
                +e.A.link--active(href="index.html") Главная
              +e.item 
                +e.A.link(href="page.html") Законодательство
              +e.item
                +e.A.link(href="page-certtype.html") Сертификация продукции и услуг 
              +e.item
                +e.A.link(href="page-contacts.html") Центры сертификации
              +e.item--mobile
                +e.A.link(href="page-news.html") Новости сертификации
              +e.item--mobile
                +e.A.link--dropdown(href="#") Мы оформляем
                +b.UL.subnav(itemscope, itemtype="http://schema.org/Service")
                  +e.item 
                    +e.A.link(href="page.html", itemprop="offers") Сертификат соответствия ТР
                  +e.item 
                    +e.A.link(href="page.html", itemprop="offers") Обязательная сертификация ГОСТ Р
                  +e.item 
                    +e.A.link(href="page.html", itemprop="offers") Добровольная сертификация ГОСТ Р
                  +e.item 
                    +e.A.link(href="page.html", itemprop="offers") Отказное письмо
                  +e.item 
                    +e.A.link(href="page.html", itemprop="offers") Сертификация пожарной безопасности
                  +e.item 
                    +e.A.link(href="page.html", itemprop="offers") Сертификат ISO:9001
                  +e.item 
                    +e.A.link(href="page.html", itemprop="offers") Декларация соответствия Техническому регламенту
                  +e.item 
                    +e.A.link(href="page.html", itemprop="offers") СБКТС                
              +e.item--mobile
                +e.A.link--dropdown(href="#") Другие услуги
                +b.UL.subnav(itemscope, itemtype="http://schema.org/Service")
                  +e.item 
                    +e.A.link(href="page.html", itemprop="offers") Разработка технических условий
                  +e.item 
                    +e.A.link(href="page.html", itemprop="offers") Разработка паспорта на продукцию
                  +e.item 
                    +e.A.link(href="page.html", itemprop="offers") Разработка руководства по эксплуатации
                  +e.item 
                    +e.A.link(href="page.html", itemprop="offers") Свидетельство о государственной регистрации
                  +e.item 
                    +e.A.link(href="page.html", itemprop="offers") Испытание продукции                
              +e.item--mobile
                +e.A.link--dropdown(href="#") Информационный раздел
                +b.UL.subnav(itemscope, itemtype="http://schema.org/Service")
                  +e.item 
                    +e.A.link(href="page.html") Схемы сертификации
                  +e.item 
                    +e.A.link(href="page.html") ГОСТ РФ
                  +e.item 
                    +e.A.link(href="page.html") Технические регламенты ТС
                  +e.item 
                    +e.A.link(href="page.html") Коды ОКП
                  +e.item 
                    +e.A.link(href="page.html") Коды ОКВЕД 2
                  +e.item 
                    +e.A.link(href="page.html") Коды ОКПд
                  +e.item 
                    +e.A.link(href="page.html") Коды МКТУ
                  +e.item 
                    +e.A.link(href="page.html") Коды ТН ВЭД
                  +e.item 
                    +e.A.link(href="page.html") Реестр Свидетельств о госрегистрации
                  +e.item 
                    +e.A.link(href="page.html") Государственный реестр медицинских изделий и организаций, осуществляющих  производство и изготовление медицинских изделий
                  +e.item 
                    +e.A.link(href="page.html") Реестр документов на сайте Росаккредитации
                  +e.item 
                    +e.A.link(href="page.html") Реестр зарегистрированных нотификаций
                  +e.item 
                    +e.A.link(href="page.html") Реестр добровольной системы сертификации «Система качества ЕАС»
                  +e.item 
                    +e.A.link(href="page.html") Реестр штрих-кодов
  // Promo
  +b.promo
    img(src="img/slide.png", alt="slide", title="slide")
    +e.inner.container
      +e.position
        +e.gallery
          +promoItem("Сертификат соответствия ГОСТ Р", "page.html") 
          +promoItem("Обязательная сертификация", "page.html") 
          +promoItem("Добровольная сертификация", "page.html") 
          +promoItem("Сертификат соответствия Техническому Регламенту", "page.html") 
          +promoItem("Свидетельство о государственной регистрации", "page.html")
        
  // Three buttons
  +b.three-buttons
    .container
      .row
        +e.item.col-xs-12.col-sm-4        
          +b.A.btn--call(href="page-call.html")
          +e.text Заказать звонок
        +e.item.col-xs-12.col-sm-4 
          +b.A.btn--question(href="page-questions.html")
          +e.text Задать вопрос
        +e.item.col-xs-12.col-sm-4 
          +b.A.btn--application(href="page-application.html")
          +e.text Заказать сертификат



