include ../abstracts/bemto/bemto.pug
include ../abstracts/mixins/_banner-item.pug

// Header
+b.HEADER.header

  // Search
  +e.search
    .container        
      +b.search--header
        +e.FORM.form
          +e.INPUT.input(type='text', name='Поиск', placeholder='Поиск')

  // Logo + nav
  +e.inner
    .container
      +e.wrapper
        +e.logo
          // Logo
          +b.A.logo(href="index.html", itemscope, itemtype="http://schema.org/Brand")       
            img(src="img/logo-header.png", alt="logo", title="logo", itemprop="logo")
        +e.nav
          // Nav menu header
          +b.NAV.nav--header
            +e.hamburger
              +b.A.hamburger(href="#")
            +e.UL.list
              +e.item 
                +e.A.link--active(href="index.html") Главная
              +e.item 
                +e.A.link(href="page.html") Законодательство
              +e.item
                +e.A.link(href="page-certtype.html") Сертификация продукции и услуг 
              +e.item
                +e.A.link(href="page-contacts.html") Центры сертификации
                
  // Banner
  +b.banner
    +e.gallery
      +bannerItem("Сертификат соответствия ГОСТ Р", "page.html") 
      +bannerItem("Обязательная сертификация", "page.html") 
      +bannerItem("Добровольная сертификация", "page.html") 
      +bannerItem("Сертификат соответствия Техническому Регламенту", "page.html") 
      +bannerItem("Свидетельство о государственной регистрации", "page.html")
    
  // Three buttons
  +b.three-buttons
    .container
      .row
        +e.item.col-xs-12.col-lg-4        
          +b.A.btn(href="page-call.html")
          +e.text Заказать звонок
        +e.item.col-xs-12.col-lg-4 
          +b.A.btn(href="page-question.html")
          +e.text Задать вопрос
        +e.item.col-xs-12.col-lg-4 
          +b.A.btn(href="page-application.html")
          +e.text Заказать сертификат



