include ../abstracts/mixins/_questions-section-item.pug
include ../abstracts/bemto/bemto.pug

+b.SECTION.questions-section
  +e.H3.title Нас спрашивают
  +e.gallery
    +questionsSectionItem("Александр (Оренбургская область, 17 октября 2016)","Какая стоимость изготовления сертификата качества на кондитерскую продукцию и какие требования")
    +questionsSectionItem("Фарид (Ханты-Мансийский автономный округ, 20 октября 2016)","Требуется ли медицинская сертификация кислородной -газификационной станции устанавливаемой на территории больничного комплекса для медицинского применения. Станция производится российским предприятием. Резервуары жидкого кислорода 2х6 м3 с давлением 1,6 мпа")
    +questionsSectionItem("Юрий (Курганская область, 8 октября 2016)","Здравствуйте. Решил дать рекламу в Яндексе на термометр. Очень простой термометр, полоска очень тонкого пластика. Яндекс для этого запросил сертификат соответствия и регистрационное удостоверение на рекламируемый термометр. Подскажите пожалуйста, нужны ли документы на такой товар. Если да, тогда где их можно взять. Фото термометра здесь - https://yadi.sk/i/PFLIrsWMwTNGJ Юрий - videosnim@ya.ru")
    +questionsSectionItem("Евгений (Приморский край, 21 октября 2016)","Здравствуйте. Пользовались услугами вашей организации ранее и остались очень довольны. За что Вам огромное спасибо! Хотели задать Вам вопрос как грамотным специалистам, на который не нашли нигде ответа. Мы хотим приобрести у предприятия новые запасные части, которые были ввезены на территорию РФ достаточно давно. Предприятие прекратило свою деятельность, а запчасти остались. При этом на запчасти у предприятия имеется сертификат соответствия. Но срок сертификата закончился в июне 2016г. 1) Может ли предприятие реализовать нам ранее ввезенные запасные части с сертификатом на них, срок которого уже истёк? Будет ли это являться нарушением? Необходимо ли предприятию иметь на ввезенные ранее запасные части действующий сертификат? 2) Если ответ по пункту 1 'нет', то имеем ли мы право предоставить предприятию нашу копию действующего сертификата на этот же список запасных частей для юридически верного формального оформления сделки по безналичному расчёту? То есть предприятие руководствуется тем, что не может осуществить сделку с безналичным расчетом ввиду отсутствия действующего сертификата. 3) В случае продажи запчастей формально как 'б/у', необходим ли сертификат? Буду премного Вам благодарен за консультацию.")
  +b.A.btn--questions-section(href="page-questions.html") Задать вопрос



