include ../abstracts/bemto/bemto.pug
include ../abstracts/mixins/_news-section-item.pug

+b.ASIDE.sidebar--right
  // Menu certification type
  +b.SECTION.menu--certtype
    +e.H3.title Сертификация продукции
    +e.UL.list
      +e.item 
        +e.A.link(href="page.html") Пищевая продукция
      +e.item 
        +e.A.link--dropdown(href="javascript:void(0);") Напитки
        +b.UL.submenu--right
          +e.item 
            +e.A.link(href="page.html") Сертификация напитков
          +e.item 
            +e.A.link(href="page.html") Вода
          +e.item 
            +e.A.link(href="page.html") Кофе
          +e.item 
            +e.A.link(href="page.html") Алкогольные напитки
          +e.item 
            +e.A.link(href="page.html") Водка
          +e.item 
            +e.A.link(href="page.html") Пиво
          +e.item 
            +e.A.link(href="page.html") Вино
      +e.item 
        +e.A.link--dropdown(href="javascript:void(0);") Автомобили
        +b.UL.submenu--right
          +e.item 
            +e.A.link(href="page.html") Сертификация автомобилей
          +e.item 
            +e.A.link(href="page.html") Автосервис 
          +e.item 
            +e.A.link(href="page.html") Диски
          +e.item 
            +e.A.link(href="page.html") Шины
          +e.item 
            +e.A.link(href="page.html") Запасные части
          +e.item 
            +e.A.link(href="page.html") СТО
          +e.item 
            +e.A.link(href="page.html") Ходовые огни
          +e.item 
            +e.A.link(href="page.html") Прицепы
      +e.item 
        +e.A.link(href="page.html") Строительные материалы
      +e.item 
        +e.A.link(href="page.html") Материалы
      +e.item 
        +e.A.link--dropdown(href="javascript:void(0);") Обустройство дома
        +b.UL.submenu--right
          +e.item 
            +e.A.link(href="page.html") Сертификация напитков
          +e.item 
            +e.A.link(href="page.html") Вода
          +e.item 
            +e.A.link(href="page.html") Кофе
          +e.item 
            +e.A.link(href="page.html") Алкогольные напитки
          +e.item 
            +e.A.link(href="page.html") Водка
          +e.item 
            +e.A.link(href="page.html") Пиво
          +e.item 
            +e.A.link(href="page.html") Вино
      +e.item 
        +e.A.link--dropdown(href="javascript:void(0);") Бытовая химия
        +b.UL.submenu--right
          +e.item 
            +e.A.link(href="page.html") Сертификация напитков
          +e.item 
            +e.A.link(href="page.html") Вода
          +e.item 
            +e.A.link(href="page.html") Кофе
          +e.item 
            +e.A.link(href="page.html") Алкогольные напитки
          +e.item 
            +e.A.link(href="page.html") Водка
          +e.item 
            +e.A.link(href="page.html") Пиво
          +e.item 
            +e.A.link(href="page.html") Вино
      +e.item 
        +e.A.link(href="page.html") Технические устройства
      +e.item 
        +e.A.link(href="page.html") Пищевая продукция
      +e.item 
        +e.A.link--dropdown(href="javascript:void(0);") Напитки
        +b.UL.submenu--right
          +e.item 
            +e.A.link(href="page.html") Сертификация напитков
          +e.item 
            +e.A.link(href="page.html") Вода
          +e.item 
            +e.A.link(href="page.html") Кофе
          +e.item 
            +e.A.link(href="page.html") Алкогольные напитки
          +e.item 
            +e.A.link(href="page.html") Водка
          +e.item 
            +e.A.link(href="page.html") Пиво
          +e.item 
            +e.A.link(href="page.html") Вино
      +e.item 
        +e.A.link--dropdown(href="javascript:void(0);") Автомобили
        +b.UL.submenu--right
          +e.item 
            +e.A.link(href="page.html") Сертификация автомобилей
          +e.item 
            +e.A.link(href="page.html") Автосервис 
          +e.item 
            +e.A.link(href="page.html") Диски
          +e.item 
            +e.A.link(href="page.html") Шины
          +e.item 
            +e.A.link(href="page.html") Запасные части
          +e.item 
            +e.A.link(href="page.html") СТО
          +e.item 
            +e.A.link(href="page.html") Ходовые огни
          +e.item 
            +e.A.link(href="page.html") Прицепы
      +e.item 
        +e.A.link(href="page.html") Строительные материалы
      +e.item 
        +e.A.link(href="page.html") Материалы
      +e.item 
        +e.A.link--dropdown(href="javascript:void(0);") Обустройство дома
        +b.UL.submenu--right
          +e.item 
            +e.A.link(href="page.html") Сертификация напитков
          +e.item 
            +e.A.link(href="page.html") Вода
          +e.item 
            +e.A.link(href="page.html") Кофе
          +e.item 
            +e.A.link(href="page.html") Алкогольные напитки
          +e.item 
            +e.A.link(href="page.html") Водка
          +e.item 
            +e.A.link(href="page.html") Пиво
          +e.item 
            +e.A.link(href="page.html") Вино
      +e.item 
        +e.A.link--dropdown(href="javascript:void(0);") Бытовая химия
        +b.UL.submenu--right
          +e.item 
            +e.A.link(href="page.html") Сертификация напитков
          +e.item 
            +e.A.link(href="page.html") Вода
          +e.item 
            +e.A.link(href="page.html") Кофе
          +e.item 
            +e.A.link(href="page.html") Алкогольные напитки
          +e.item 
            +e.A.link(href="page.html") Водка
          +e.item 
            +e.A.link(href="page.html") Пиво
          +e.item 
            +e.A.link(href="page.html") Вино
      +e.item 
        +e.A.link(href="page.html") Технические устройства
      +e.item 
        +e.A.link(href="page.html") Пищевая продукция
      +e.item 
        +e.A.link--dropdown(href="javascript:void(0);") Напитки
        +b.UL.submenu--right
          +e.item 
            +e.A.link(href="page.html") Сертификация напитков
          +e.item 
            +e.A.link(href="page.html") Вода
          +e.item 
            +e.A.link(href="page.html") Кофе
          +e.item 
            +e.A.link(href="page.html") Алкогольные напитки
          +e.item 
            +e.A.link(href="page.html") Водка
          +e.item 
            +e.A.link(href="page.html") Пиво
          +e.item 
            +e.A.link(href="page.html") Вино
      +e.item 
        +e.A.link--dropdown(href="javascript:void(0);") Автомобили
        +b.UL.submenu--right
          +e.item 
            +e.A.link(href="page.html") Сертификация автомобилей
          +e.item 
            +e.A.link(href="page.html") Автосервис 
          +e.item 
            +e.A.link(href="page.html") Диски
          +e.item 
            +e.A.link(href="page.html") Шины
          +e.item 
            +e.A.link(href="page.html") Запасные части
          +e.item 
            +e.A.link(href="page.html") СТО
          +e.item 
            +e.A.link(href="page.html") Ходовые огни
          +e.item 
            +e.A.link(href="page.html") Прицепы
      +e.item 
        +e.A.link(href="page.html") Строительные материалы
      +e.item 
        +e.A.link(href="page.html") Материалы
      +e.item 
        +e.A.link--dropdown(href="javascript:void(0);") Обустройство дома
        +b.UL.submenu--right
          +e.item 
            +e.A.link(href="page.html") Сертификация напитков
          +e.item 
            +e.A.link(href="page.html") Вода
          +e.item 
            +e.A.link(href="page.html") Кофе
          +e.item 
            +e.A.link(href="page.html") Алкогольные напитки
          +e.item 
            +e.A.link(href="page.html") Водка
          +e.item 
            +e.A.link(href="page.html") Пиво
          +e.item 
            +e.A.link(href="page.html") Вино
      +e.item 
        +e.A.link--dropdown(href="javascript:void(0);") Бытовая химия
        +b.UL.submenu--right
          +e.item 
            +e.A.link(href="page.html") Сертификация напитков
          +e.item 
            +e.A.link(href="page.html") Вода
          +e.item 
            +e.A.link(href="page.html") Кофе
          +e.item 
            +e.A.link(href="page.html") Алкогольные напитки
          +e.item 
            +e.A.link(href="page.html") Водка
          +e.item 
            +e.A.link(href="page.html") Пиво
          +e.item 
            +e.A.link(href="page.html") Вино
      +e.item 
        +e.A.link(href="page.html") Технические устройства

  // News section
  +b.SECTION.news-section
    +e.H3.title Новости
    +e.articles
      +newsSectionItem("Состоялась конференция «Стандартизация, аккредитация и оценка соответствия: новое законодательство и правоприменительная практика»", "2 октября 2016")
      +newsSectionItem("Состоялась конференция «Стандартизация, аккредитация и оценка соответствия: новое законодательство и правоприменительная практика»", "2 октября 2016")
      +newsSectionItem("Состоялась конференция «Стандартизация, аккредитация и оценка соответствия: новое законодательство и правоприменительная практика»", "2 октября 2016")
    +e.link-wrapper
      +e.A.link-all(href="page-news.html") Показать все новости


