include ../abstracts/bemto/bemto.pug

+b.SECTION.schema
  +e.H3.title Схема подачи заявки
  +e.UL.list
    +e.item
      +e.img
      +e.text Подача заявки
    +e.arrow
    +e.item
      +e.img
      +e.text Заключение договора
    +e.arrow
    +e.item
      +e.img
      +e.text Процедура сертификации
    +e.arrow
    +e.item
      +e.img
      +e.text Получение документов
  +b.A.btn--schema.--form(href="page-application.html") Подать заявку

